## Redirects from old site (< 2016-04-15)
RewriteEngine on

# ensure redirects go to same top directory
RewriteCond %{ENV:URI} ^$
RewriteRule ^(.*)$ - [ENV=URI:$1]

RewriteCond %{ENV:BASE} ^$
RewriteCond %{ENV:URI}::%{REQUEST_URI} ^(.*)::(.*?)\1$
RewriteRule ^ - [ENV=BASE:%2]

# trailing slash rule
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule [^/]$ %{REQUEST_URI}/ [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^about/samples.html %{ENV:BASE}diagnosis.html [R=302,L]
RewriteRule ^about/diagnosis.html %{ENV:BASE}diagnosis.html [R=302,L]
RewriteRule ^about/disorders.html %{ENV:BASE}speech.html [R=302,L]
RewriteRule ^about/aphasia.html %{ENV:BASE}speech.html [R=302,L]
RewriteRule ^about/dysarthria.html %{ENV:BASE}speech.html [R=302,L]
RewriteRule ^about/apraxia.html %{ENV:BASE}speech.html [R=302,L]
RewriteRule ^about/more.html %{ENV:BASE}speech.html  [R=302,L]
RewriteRule ^about/.*$ %{ENV:BASE}index.html [R=302,L]
RewriteRule ^stories/.*$ %{ENV:BASE}FASstories.html [R=302,L]
RewriteRule ^networking/.*$ %{ENV:BASE}contactus.html [R=302,L]
RewriteRule ^links/.*$ %{ENV:BASE}moreinformation.html [R=302,L]
RewriteRule ^about-us/.*$ %{ENV:BASE}contactus.html [R=302,L]
## End redirects from old site (< 2016-04-15)