<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

<footer>

	<div class="row">
	<div class="col-md-12">
	<div class="container-fluid pull-center footer-box marginal-row2">
			    <ul class="list-inline list-unstyled">
		      <li>
		        <a href="http://www.utdallas.edu/">The University of Texas at Dallas</a>
		      </li>
		      <li>
		        <a href="http://www.utdallas.edu/directory/">Directory</a>
		      </li>
		      <li>
		        <a href="http://www.utdallas.edu/maps/">Maps</a>
		      </li>
		      <li>
		        <a href="https://elearning.utdallas.edu/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1">eLearning</a>
		      </li>
		      <li>
		        <a href="https://sis-portal-prod.utdallas.edu/psp/DEPPRD/EMPLOYEE/EMPL_UTD/h/?tab=PAPP_GUEST">Galaxy</a>
		      </li>
		       <li>
		        <a href="https://research.utdallas.edu/oris">Designed by Oris</a>
		      </li >
		      <li>
		      	<a href="mailto:oris@utdallas.edu">Site Feedback</a>
		      </li>
		    </ul>
		    </div>
		    </div>
		    </div>
	</div>
	 

</footer>