<header id="header" class="header">
				<img id="utd_logo" alt="UT Dallas Logo" src="media/utdallaslogo.png">
				<a id="link-to-home" href="index.html"><div id="wordmark" class="">Foreign Accent <br class="visible-xs">Syndrome (FAS)</div></a>
</header>


<nav class="navbar navbar-default navbar-inverse">
	<div class="container-fluid" id="navfluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
			 <span class="sr-only">Toggle navigation</span>
	               <span class="icon-bar"></span>
	               <span class="icon-bar"></span>
	               <span class="icon-bar"></span>
	        </button>
        </div>
	        <div class="collapse navbar-collapse" id="navigationbar">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="diagnosis.html">Diagnosis <span class="hidden-sm hidden-xs">&amp; Treatment</span></a></li>
					<li><a href="speech.html">Speech <span class="hidden-sm hidden-xs">&amp; Language Disorders</span></a></li>
					<li><a href="contactus.html">Contact <span class="hidden-sm hidden-xs">Us</span></a></li>
					<li><a href="FASstories.html">FAS Stories</a></li>
					<li><a href="moreinformation.html">Resources</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>


