<!doctype html>
<html lang="en">
<head>
@@include('_head.html')
	<title>Contact Us</title>
</head>

<body>
@@include('_header.html')
	<div class="col-md-12">
		<h3>Contact Us</h3>
	</div>
	<div class="col-md-5 col-md-offset-1 contact">
		<img src="media/dr_katz.jpg" class="pull-left contact_us"  alt="Dr. Katz">
		<p>William Katz, Ph.D. is a professor at The University of Texas at Dallas School of Behavioral and Brain Sciences. His research is concerned with speech production in aphasia, compensatory articulation, and biofeedback applications in the treatment of apraxia of speech. Dr. Katz has published an article on Foreign Accent Syndrome: Neural bases of the foreign accent syndrome: a functional magnetic resonance imaging case study. <br><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:wkatz@utdallas.edu"> wkatz@utdallas.edu</a></p>
	</div>
	<div class="col-md-5 contact">
		<img src="media/diane_walsh.jpg" class="pull-left contact_us" alt="Diane Walsh">
		<p>Diane Garst Walsh, MS CCC-SLP is a speech-language pathologist and clinical faculty member in the Communication Disorders department at The University of Texas at Dallas. She was involved in projects investigating speech motor control by apraxic talkers in the Speech Production Laboratory with Dr. William Katz. She is involved in clinical research for speech productions and discourse processing in adults with neurogenic communication disorders. <br><i class="glyphicon glyphicon-envelope"></i><a href="mailto:diane.walsh@utdallas.edu"> diane.walsh@utdallas.edu</a><diane.walsh@utdallas.edu</p>
	</div>
<div class="col-md-12">
		<div id="callier" class="hidden-xs"  >
			<img src="media/callier.jpg" alt="Callier Center">
			<div id="callier-text">
			<p><strong>Callier Center for Communication Disorders</strong></p>
			<p>Since 1963,  the Callier Center has been a leader in providing in-depth, advanced evaluations and innovative treatments for children and adults with a wide variety of speech, language and hearing disorders. Each year, they provide services to approximately 4,000 patients in more than 48,000 clinical visits at our two locations in downtown Dallas and Richardson.</p>
			<p><a href="http://www.utdallas.edu/calliercenter">www.utdallas.edu/calliercenter</a></p>
			</div>
</div>

<div class="col-md-6">
	<div class="map-responsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.198968480476!2d-96.84820434856462!3d32.81349268933714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9c101e8e7adb%3A0xda7442ef63c642d6!2s1966+Inwood+Rd%2C+Dallas%2C+TX+75235!5e0!3m2!1sen!2sus!4v1458155506857" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
<div class="col-md-6">
	<div class="map-responsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.426762085391!2d-96.75104784850397!3d32.99252248017771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c18a9f99ac077%3A0x3d787da94cf0481b!2s811+Synergy+Park+Blvd%2C+Richardson%2C+TX+75080!5e0!3m2!1sen!2sus!4v1458156367701" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>


@@include('_footer.html')
</body>
</html>