<!doctype html>
<html lang="en">
<head>
@@include('_head.html')
	<title>Diagnosis &amp; Treatment</title>
</head>

<body>
@@include('_header.html')
<div class="container-fluid">
	<div class="row">
	<div class="col-md-12">
		<h3>Diagnosis &amp; Treatment</h3>
	</div>
	</div>

	<div class="row marginal-row">
		<div id="speechbox" class="col-sm-12 col-md-3">
			<h4>Speech Samples</h4>
				<p class="speechsample">"Let's go out to the kitchen where the men are."</p>
					<h5>Clinician</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Pre_kitchen.mp4" type="audio/mpeg">
						</audio>
					<h5>Patient</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Post_kitchen.mp4" type="audio/mpeg">
						</audio>
						<hr>
				<p class="speechsample">"So we can't get any pictures of her."</p>
					<h5>Clinician</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Pre_pictures.mp4" type="audio/mpeg">
						</audio>
					<h5>Patient</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Post_pictures.mp4" type="audio/mpeg">
						</audio>
						<hr>
						<p class="speechsample">"Stayed out all night."</p>
					<h5>Clinician</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Pre_stayed.mp4" type="audio/mpeg">
						</audio>
					<h5>Patient</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Post_stayed.mp4" type="audio/mpeg">
						</audio>
						<hr>
						<p class="speechsample">"We sent them back to chaperone."</p>
					<h5>Clinician</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Pre_chaperone.mp4" type="audio/mpeg">
						</audio>
					<h5>Patient</h5>
						<audio class="container-fluid" controls="controls">
							<source src="media/Post_chaperone.mp4" type="audio/mpeg">
						</audio>
		</div>
	
		<div class="col-sm-12 col-md-9"> 
			
			<div id="diagnosis">
				<h2>Diagnosis</h2>
					<p>A team of medical professionals should collaborate to diagnose and treat a suspected case of FAS. An ideal team includes:</p>
						<ul>
							<li>Neurologist</li>
							<li>Radiologist</li>
							<li>Neuropsychologist</li>
							<li>Clinical Psychologist</li>
							<li>Speech-Language Pathologist</li>
						</ul>
			</div>
			<div id="speech-language">
				<h2>Speech-Language Pathology</h2>
				<p>When working with a speech-language pathologist, the first step is a thorough assessment. This includes a full case history to gather information about exposure to foreign language, education, medical history, and family history. Also important is an examination of oral structures and standardized tests of language and speech intelligibility. Samples of conversational speech and oral reading are used for in-depth analysis of individual speech patterns. </p>
			</div>
			<div id="treatment">
				<h2>Speech-Language Treatment</h2>
				<p>Research in the effect of speech-language treatment on FAS is just beginning. Our lab completed a case-study of speech treatment using accent reduction techniques. To read the abstract, <a href="#" class="click-here" data-toggle="modal" data-target="#basicModal">click here.</a> </p>
			</div>
			<div id="basal-box" class="media">
			  <div class="media-left">
			      <img class="media-object" src="media/science.png" alt="...">
			  </div>
			  <div id="basal-body" class="media-body">
			    <h4 class="media-heading">FAS brain MRI</h4>
			    Evolution of a basal ganglia lesion in three successive MR images of a Spanish-speaking FAS patient. The images also show a right temporal lesion. <br><em> (Gonzalez-Alvarez et al., 2003) Rev Neurol, 3, 227-234.</em>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">FAS Support</button>
	        <h4 class="modal-title" id="myModalLabel">More About FAS</h4>
	        </div>
	        <div class="modal-body">
	        <p id="modal-header">More About FAS</p>
	            <p><em>2007 International Conference Acoustical Society of America Salt Lake City, UT.</em></p>
			<p>Effects of accent-reduction techniques for the treatment of an individual with Foreign Accent Syndrome.</p>

			<p>Foreign accent syndrome (FAS) is a rare speech motor disorder characterized by the emergence of a perceived foreign accent following brain damage. Although FAS has received increased attention in recent years, the issue of intervention for this disorder has not been systematically explored.</p>

			<p>In this study, an English-speaking female patient with FAS thought to sound "Swedish" was given short-term accent reduction treatment for selected front vowels (/i/, /I/, / E/), back vowels (/u/, /U/, /o/) and inter-dental consonants (voiced "th", unvoiced "th").</p>

			<p>Therapy consisted of structured practice on word lists containing targeted phonemes. A list of compound nouns was included as untreated control items.<br>A multiple-baseline across behaviors design was used to determine treatment efficacy. Probes were included for response generalization, maintenance, and long-term retention.</p>

			<p>Digitally-recorded productions by the FAS talker were played in randomized order to a phonetically-trained listener who rated a targeted sound in each word as "foreign-sounding" or not. Results indicated highly variable performance on treated items, generalization probes, and control probes throughout the course of the experiment, with no apparent acquisition or maintenance resulting from the intervention.</p>

			<p>These findings suggest that structured intervention techniques were not successful for this patient.</p>
	        </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
	    </div>
	</div>
</div>
@@include('_footer.html')
</body>
</html>