<!doctype html>
<html lang="en">
<head>
@@include('_head.html')
	<meta name="viewport" content="width=device-width, initial-scale-1">
	<title>Foreign Accent Syndrome (FAS)</title>
</head>

<body>
@@include('_header.html')

<div class="row marginal-row2">
	<div id="bgimage">
		<div class="container col-md-12">
			<div class="bkgd_box">
				<h1>Welcome</h1>
				<p>This website is designed to provide support to those <br>seeking information about a rare speech disorder<br> called Foreign Accent Syndrome (FAS).</p>
			</div>
		</div>
	</div>
</div>
<div class="row marginal-row2">
			<div id="bluedesign"></div>
</div>

<div class="row marginal-row2">
	<div class="col-md-10 col-sm-8">
		<h3>What is Foreign Accent Syndrome?</h3>
			<p>Foreign accent syndrome (FAS) is speech disorder that causes a sudden change to speech so that a native speaker is perceived to speak with a “foreign” accent.  FAS is most often caused by damage to the brain caused by a stroke or traumatic brain injury. Other causes have also been reported including multiple sclerosis and conversion disorder and in some cases no clear cause has been identified.</p>
			<p>Speech may be altered in terms of timing, intonation, and tongue placement so that is perceived as sounding foreign. Speech remains highly intelligible and does not necessarily sound disordered.</p>
			<p>FAS has been documented in cases around the world, including  accent changes from Japanese to Korean, British English to French, American-English to British English, and Spanish to Hungarian.</p>
			<p>Some common speech changes associated with FAS include:</p>
				<ul>
					<li>Fairly predictable errors</li>
					<li>Unusual prosody, including equal and excess stress (especially in multi-syllabic words)</li>
					<li>Consonant substitution, deletion, or distortion</li>
					<li>Voicing errors (i.e. bike for pike)</li>
					<li>Trouble with consonant clusters</li>
					<li>Vowel distortions, prolongations, substitutions (i.e. “yeah” pronounced as “yah”)</li>
					<li>“uh” inserted into words</li>
				</ul>
	</div>
	<div class="col-md-2 col-sm-4">
		<div id="blue_box">
			<img id="doctor" src="media/doctor.png">
			<figcaption>Norwegian neurologist Georg Herman Monrad-Krohn rpeorted the best known case of Foreign Accent Syndrome.</figcaption>
		</div>
	</div>
</div>


@@include('_footer.html')
</body>
</html>