<!doctype html>
<html lang="en">
<head>
@@include('_head.html')
	<title>More Information</title>
</head>

<body>
@@include('_header.html')

<div class="col-md-12">
	<h3>More Information</h3>	
</div>
<div class="col-md-6">
	<h2>Posters</h2>
		<p class="reference"><a href="https://www.utdallas.edu/research/FAS/images/FAS_Acoustic_Poster_website.jpg" target="_blank">FAS Acoustical Analysis</a></p>
		<p class="reference"><a href="https://www.utdallas.edu/research/FAS/images/FASTherapyPosterWebsite.jpg" target="_blank">FAS Speech Therapy Project</a></p>
	<h2>Overview</h2>
		<p class="reference"><a href="http://leader.pubs.asha.org/article.aspx?articleid=2278208" target="_blank">Foreign Accent Syndrome</a></p>
		<p class="small-type">(General Reference and Introduction to the Disorder) <span class="italic">The ASHA Leader,</span> 11(10), 10-11, 31.</p>
		<p class="reference"><a href="http://www.stroke.org/?pagename=HOME" target="_blank">National Stroke Association</a></p>
		<p class="reference"><a href="http://www.mountsinai.org/patient-care/health-library/diseases-and-conditions/foreign-accent-syndrome" target="_blank">Mount Sinai Hospital</a></p>
	<h2>Living with FAS</h2>
		<p class="reference"><a href="http://web.a.ebscohost.com/ehost/detail/detail?sid=0983ffde-3f2d-4171-b913-f4ce5fa43c92%40sessionmgr4005&amp;vid=0&amp;hid=4106&amp;bdata=JnNpdGU9ZWhvc3QtbGl2ZQ%3d%3d#AN=92963256&amp;db=a9h" target="_blank">Psychosocial Implications of Foreign Accent Syndrome: Two Case Examples</a></p>
		<p class="small-type">DiLollo, A., Scherz, J., &amp; Neimeyer, R. A. (2014). <span class="italic">Journal Of Constructivist Psychology,</span> 27(1), 14-30.</p>
		<p class="reference"><a href="https://books.google.com/books?hl=en&amp;lr=&amp;id=fgRkeWswGZEC&amp;oi=fnd&amp;pg=PA67&amp;dq="foreign+accent+syndrome"&amp;ots=Mra2DK65Xs&amp;sig=OULOBUSc05Z7TE-wZ6x0xYw1g4#v=onepage&amp;q="foreign accent syndrome"&amp;f=false" target="_blank">Foreign Accent Syndrome: Between Two Worlds, At Home in Neither</a></p>
		<p>Llamas, C., &amp; Miller, N. (2010). In <span class="italic">Language and Identities, </span>George Square, Edinburgh: Edinburgh University Press.</p>
		<p class="reference"><a href="http://search.proquest.com/llba/docview/1018383580/abstract/7832CF1E78D5469APQ/3?accountid=7120" target="_blank">Living with Foreign Accent Syndrome: Insider Perspectives</a></p>
		<p>Miller, N., Taylor, J., Howe, C., &amp; Read, J. (2011). <span class="italic">Aphasiology, </span>25(9), 1053-1068.</p>
		<p class="reference"><a href="http://www.amazon.com/Foreign-Accent-Syndromes-stories-people/dp/1848721536" target="_blank">Foreign Accent Syndrome: The Stories People Have to Tell</a></p>
		<p>Miller, N., &amp; Ryalls, J.  (2015). New York, NY: <span class="italic">Psychology Press </span> 27(1).</p>
	<h2>History</h2>
		<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/2414193?dopt=AbstractPlus" target="_blank">Some further notes on Monrad-Krohn’s case study of foreign accent syndrome</a></p>
		<p>Ryalls J, Reinvang I. (1985).<span class="italic">Folia Phoniatr (Basel), </span>34(4), 37 (3-4): 160-2.</p>
		<h2>Psychogenic Etiology</h2>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0924933812743535" target="_blank">Mania-induced Foreign Accent Syndrome: A Case Study</a></p>
		<p>Kitten, S., Lewis, S., &amp; Ball, L. J. (2012).<span class="italic">European Psychiatry, </span>27, 1.</p>
		<p class="reference"><a href="http://cdq.sagepub.com/content/34/4/242.full.pdf+html" target="_blank">Acoustic and Perceptual Correlates of Foreign Accent Syndrome with Manic Etiology: A Case Study</a></p>
		<p>Lewis, S., Ball, L. J., &amp; Kitten, S. (2012).<span class="italic">Communication Disorders Quarterly, </span>34(4), 242-247.</p>

	
</div>	
<div class="col-md-6">
	<h2>Recent Studies</h2>
		<p class="reference"><a href="http://www.cnts.ua.ac.be/sites/default/files/marien.pdf" target="_blank">Perception of Foreign Accent Syndrome Speech and its Relation to Segmental Characteristics</a></p>
		<p>Dankovičova, J., &amp; Hunt, C. (2011). <span class="italic">Clinical Linguistics &amp; Phonetics,</span> 25(2), 85-120.</p>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0021992411000876" target="_blank">Intonation in Neurogenic Foreign Accent Syndrome</a></p>
		<p>Kuschmann, A., Lowit, A., Miller, N., &amp; Mennen, I. (2012). <span class="italic">Journal of Communication Disorders,</span> 1-11.</p>
		<p class="reference"><a href="http://www.cnts.ua.ac.be/sites/default/files/marien.pdf" target="_blank">Differences between Foreign Accent Syndrome and Real Foreign Accents</a></p>
		<p>Marion, P., De Pauw, G., Pettinato, M., Hirson, A., &amp; Verhoeven, J. (2011). InWS Lee, &amp; E. Zee (Edi.), <span class="italic"> Proceedings of the 17th International Congress of Phonetic Sciences </span> 1-11.</p>
		<p class="reference"><a href="http://www.tandfonline.com/doi/abs/10.1080/02687030903022211" target="_blank">Acoustic Analyses of Two Recovered Cases of Foreign Accent Syndrome</a></p>
		<p>Perkins, R., Ryalls, J., Carson, C., &amp; Whiteside, J. (2010). <span class="italic">Aphasiology,</span> 24(10), 1132-1154.</p>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0021992413000051" target="_blank">Accent Attribution in Speakers with Foreign Accent Syndrome</a></p>
		<p>Verhoeven, J., Pauw, G., Pettinato, M., Hirson, A., Borsel, J., &amp; Mariӫn, P. (2013).<span class="italic">Journal of Communication Disorders,</span>156-168.</p>
	<h2>Studies Including Brain Mapping</h2>
		<p class="reference"><a href="http://search.proquest.com/llba/docview/1347808627/7832CF1E78D5469APQ/11?accountid=7120" target="_blank">Neural Bases of the Foreign Accent Syndrome: A Functional Magnetic Resonance Imaging Case Study</a></p>
		<p>Katz, W. F., Garst, D. M., Briggs, R. W., Cheshkov, S., Ringe, W., Gopinath, K.S., &amp; Allen, G. (2012).<span class="italic">Neurocase, </span>18(3), 199-211.</p>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0028393212004770" target="_blank">Foreign Accent Syndrome: A Multimodal Evaluation in the Search of Neuroscience-driven Treatments</a></p>
		<p>Moreno-Torres, I., Berthier, M. L., del Mar Cid, M., Green, C., Gutiérrez, A., Garcḯa-Casares, N., &amp; Carnero-Pardo, C. (2013).<span class="italic"> Neuropsychologia, </span>51(3), 520-537.</p>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0911604412000802" target="_blank">Clinical Foreign Accent Syndrome Evolving into a Multiplicity of Accents</a></p>
		<p>Tailby, C., Fankhauser, J., Josev, E. K., Saling, M. M., &amp; Jackson, G. D. (2013). <span class="italic">Journal of Neurolinguistics, </span>26(3), 348-362.</p>
		<p class="reference"><a href="http://www.sciencedirect.com/science/article/pii/S0010945211002814" target="_blank">Foreign Accent Syndrome: A Multimodal Mapping Study</a></p>
		<p>Tomasino, B., Marin, D., Maieron, M., Ius, T., Budai, R., Fabbro, F., &amp; Skrap, M. (2013). <span class="italic">Cortex, </span>49(1), 18-39.</p>
	
	

</div>

@@include('_footer.html')
</body>
</html>