a {
	color: $utd-space-blue;
	}

audio {
	width: 95%;

} 

p {
	margin-left: 2%;
	margin-right: 2%;
}

p, li {
font-size: 1.2em;

}

li {
	margin-left: 50px;
}

.small-type p {
	margin-left: 1%;
}

#treatment p {
	margin-bottom: 30px;
}

// This is the subheader, an orange box with white type. 
h2 {
	width: 100%;
	background-color: $utd-spark-orange;
	height: 40px;
	font-size: 1.4em;
	font-weight: 600;
	color: #ffffff;
	padding-left: 2%;
	line-height: 40px;
	margin-top: 1%;
}

// Each page has this as the header. Name of page with horizontal rule underneath.
h3 {
font-family: Titillium Web,sans-serif;
font-weight: 300;	
color: $utd-flame-orange;
line-height: 1.5em;
border-bottom: thin solid $utd-flame-orange;
padding-left: 1%;
@media (max-width: $screen-xs) {
line-height: 1em;
margin-bottom: 4%;

}
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	color: #ffffff;
	padding-top: 10px;

}

h5 {
	font-weight: 600;
	font-size: 1.1em;
	color: #ffffff;
	padding-bottom: 2px;
}

.marginal-row {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

.marginal-row2 {
	margin-left: 0px;
	margin-right: 0px;
	width: 100vw;
}

.marginal-row3 {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
}

#bgbox {
	max-width: 100%;
}

#bgimage {
	background-image: url("../media/blue_design_2.png");
	background-size: cover;
	background-color: $utd-space-blue;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100vw;
	max-width: 100%;
	height: 400px;

	@media (max-width: $screen-sm) {
		height: 200px;
	}

	h1 {
		color: $utd-stratos-blue;
		text-align: right;
		text-shadow: 1px 1px $utd-warm-gray6;

		@media (max-width: $screen-sm) {
			font-size: 1.5em;
			margin-top: 0px;
		}
	}

	p {
		font-size: 1.2em;
		text-align: right;

		@media (max-width: $screen-sm) {
			font-size: 0.8em;
		}
	}
	// This is the white box on the home page behind the Welcome header and paragraph.
	.bkgd_box {
		left: 0px;
		top: 160px;
		width: 600px;
		height: 160px;
		margin-top: 60px;
		margin-left: -15px;
		padding: 10px;
		background-color: rgba(255,255,255,0.75);

		@media (max-width: $screen-sm) {
			width: 100%;
			height: 100px;
		}
	}
}
// This is the blue box behind the image of the doctor on the home page.
#blue_box {
	width: 100%;
	background-color: $utd-sky-blue;
	vertical-align: middle;
	margin-top: 5%;
}

#doctor {
	width: 85%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 2%;
}

// This is the caption on the home page under the image of the doctor.
figcaption {
	width: 85%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5%;
}

//Start of speech items on the Diagnosis & Treatment Page
#speechbox.col-md-3 {
	background-color: $utd-solar-orange;
	height: auto;
	padding-bottom: 20px;
	padding-left: 20px;
}

.speechsample {
	font-weight: 300;
	font-style: italic;
	font-size: 1.1em;
}
//End of speech items on the Diagnosis & Treatment Page

#basal-box {
	align-items: center;
	background-color: $utd-warm-gray2;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;

	.media-object {
		@media(max-width: $screen-sm-min) {
			width: 100%;
		}
	}
}

#basal-body {
	@media(max-width: $screen-sm-min) {
		display: inherit;
		width: inherit;
	}
}
 .row-fluid {
 	margin-bottom: 80px;
 }

 .pull-right {
 	float: right;
 	margin-left: 10px;
 }

.apraxia {
	width: 40%;
}
.subhead {
	width: 100%;
	background-color: $utd-spark-orange;
	height: 40px;
	font-size: 1.4em;
	font-weight: 600;
	color: #ffffff;
	padding-left: 1%;
	line-height: 40px
}

.pull-left {
	float: right;
	margin-right: 30px;
	margin-bottom: 10px;
}

.stroke {
	width: 30%;
	padding-right: 50px;
	@media(max-width: $screen-xs-min) {
	width: 50%;
	}
}

.profile {
	width: 100%;
	height: auto;
}

.contact .glyphicon {
	font-size: 2em;
	color: $utd-flame-orange;
}

.contact_us {
	width: 15%;
	height: auto;
}

.divider {
	width: 100%;
	height: 120px;
	background-color: rgba(233, 131, 0, 0.5);
}

#callier-box2 {
	width: 100%;
	background-color: rgba(255, 182, 18, 0.4);
	display: table;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
}


#callier img {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

#callier-building {
	float: right;
	margin-left: 8px;
	@media(max-width: 480px){
		float: none;
		margin-bottom: 8px;
	}
}

#callier-text {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 1em;
}

#callier-hr {
	color: blue;
}

#fifty {
	float: right;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:10%;
    position:relative;
    min-height: 400px;
    max-height:600px;
}

.map-responsive iframe {
    left:0;
    top:0;
    min-height:400px;
    max-height: 500px;
    width:100%;
    position:absolute;
    margin-top: 20px;
}

.reference {
	margin-bottom: 0;
}

.italic {
	font-style: italic;
}

.movie {
	margin: 20px;
}

p.intro {
	margin: 20px 0;
}

.video {
	margin-top: 50px;
}

.video2 {
	height: 375px;
	vertical-align: middle;
	margin-top: 167px;
}

.youtube iframe {
	margin-right: 1em;
	@media(max-width: $screen-xs-min){
		max-width: 100%;
		height: auto;
	}
}

.movie-header caption {
	
	margin-left: 1em;
	width: 420px;
	height: 315px;
	vertical-align: middle;
}

.movie-container {
	display: flex;
	align-items: center;
	margin-top: 2%;
	@media(max-width: $screen-sm-min) {
		flex-direction: column;
	
	}
}

.youtube caption {
	width: 50%;
	height: 50%;
	padding-left: 5%;
}

#aphasia-box  {
	padding: 20px;
	background-color: rgba(255, 182, 18, 0.4);
}

#aphasia-box a {

color: $utd-space-blue;
font-family: Trebuchet, serif;
}

#modal-header {
	font-size: 1.5em;
	font-weight: 800;
}

button.close {
	padding-top: 20px;
}

 hr {
	width: 90%;
	color: blue;
 }

.footer-box {
	background-color: $utd-flame-orange;
	min-height: 50px;
	margin-top: 20px;
	margin-left: 0;
	padding-left: 0;
	text-align: center;
	clear: both;


}

.footer-box li a  {
	color: white;
	font-size: .7em;
	line-height: 50px;
	padding-top: 8%;
	@media (max-width: $screen-sm-min) {
		line-height: 5px;
	}
}

.list-inline {
	@media (max-width: $screen-sm-min) {
		margin-left: -50px;
	}
}
