header {
	&#header {
		display: block;
		color: #fff;
		background-color: $utd-flame-orange;
		height: 110px;
		padding: 25px;
		margin-bottom: 0px;
		@media (max-width: 768px) {
			height: 70px;
			padding: 15px;
		}
	}
}

nav {

	&.navbar {
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		min-height: 50px;
	}
	&.navbar-inverse {
		border-color: $utd-solar-orange;
		background-color: $utd-solar-orange;

	}
	
	.navbar-nav {
		> li > a {
			padding-left: 12px;
			padding-right: 12px;
			vertical-align: middle;
			padding-top:15px !important; 
			padding-bottom:15px !important;
		}
}
}


@media (min-width: 420px){
    .navbar li {
        margin-left : 0px;
        margin-right : 0px;
    }
}
 
#logobox {
	width: 100%;
	background-color: $utd-flame-orange; 
	display: flex;
	align-items: center;
}

 #utd_logo {
	display: block;
	height: auto;
	float: left;
	width: 165px;
	vertical-align: middle;
	line-height: 75px;
	@media (max-width: 768px){
		width: 120px;
	}
}

#wordmark {
	width: auto;
	float: right;
	font-family: Titillium Web, sans-serif;
	font-weight: 200;
	font-size: 2.3em;
	vertical-align: middle;
	margin-top: 6px;

	@media (max-width: 768px) {
		font-size: 1.3em;
		padding-top: 4px;
		margin-top: -7px;
	}
}

#link-to-home {
	text-decoration: none;
	color: white;
}
